a.link-more{
    color: var(--brand-color-deep-blue, #0432DF);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;
    text-decoration-line: underline; 
}