.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
    .profile-info>h5{
        margin: 0;
    }
    .profile-info>p{
        margin: 0;
    }
